@using Kentico.Forms.Web.Mvc
@using Kentico.Web.Mvc
@using CMS.Helpers;

@if (VirtualContext.GetItem(VirtualContext.PARAM_FORM_BUILDER_URL) != null)
{
    <!-- Only load on form builder mode -->
    <script type="text/javascript">
        debugger;
        if (!(document.querySelector("link[bootstrap5layouttool]"))) {
            window.BootstrapLoaded = true;
            var link = document.createElement("link");
            link.type = "text/css";
            link.setAttribute("bootstrap5layouttool", "");
            link.rel = "stylesheet";
            link.href = "/_content/XperienceCommunity.Bootstrap5LayoutTool.FormTransition/css/Bootstrap5LayoutTool.admin.css";
            document.head.appendChild(link);
        }
    </script>
}
<div class="row">
    <div class="col-sm-6">
        <form-zone />
    </div>
    <div class="col-sm-6">
        <form-zone />
    </div>
</div>