@using Kentico.Forms.Web.Mvc
@using Kentico.Web.Mvc

<div class="row">
    <div class="col">
        <form-zone/>
    </div>
    <div class="col">
        <form-zone/>
    </div>
    <div class="col">
        <form-zone/>
    </div>
    <div class="col">
        <form-zone/>
    </div>
    <div class="col">
        <form-zone/>
    </div>
</div>